body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

main {
  background-color: #eaeaf4;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.form-container {
  background-color: #A9AAD2;
  padding: 40px 25vw 40px 25vw;
}

.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #eaeaf4;
}

.side-bar-container {
  width: 25%;
  background-color: #1f1f3d;
  color: #E9E9F3;
}

.search-button {
  height: 22px;
  width: 25px;
  background-color: #3b0054;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  border-radius: 4px 0px 0px 4px;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.user-idea {
  padding-left: 10px;
  padding-right: 10px;
  color: #1F1F3D;
  background-color: #ffffff;
  border: 1.5px solid #1F1F3D;
}

.user-title {
  color: #1F1F3D;
}

.side-bar-header {
  padding: 20px 10px 10px 20px;
}

.side-bar-section1 {
  border-top: solid #353567;
  border-bottom: solid #353567;
  padding: 0px 10px 20px 10px;
  color: #BFBFDD;
}

.side-bar-section2 {
  height: 30vh;
  padding: 20px 10px 10px 20px;
}

.show-filter-button,
.show-all-button {
  background-color: #5356A4;
  color: #E9E9F3;
  text-align: center;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.show-filter-button:hover,
.show-all-button:hover,
.search-button:hover {
  transition: .25s ease-in-out;
  transform: scale(1.1);
}

.form-input,
.search-input,
.body-input {
  width: 100%;
  padding: 12px 5px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: 1.5px solid purple;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-input {
  border-radius: 0px 4px 4px 0px;
}

.body-input {
  height: 100px;
  font-family: 'Open Sans', sans-serif;
}

.input-area {
  display: flex;
  flex-direction: row-reverse;
}

.locked-button,
.comment-save-button {
  width: 100%;
  background-color: #c2bcbc;
  color: gray;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
  border: none;
}

.save-button,
.comment-save-button {
  background-color: #3b0054;
  color: #E9E9F3;
  cursor: pointer;
  margin-bottom: 25px;
  border: none;
}

.hidden {
  display: none!important;
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f3d;
  border: 1.5px solid #1F1F3D;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5356a4;
  border-left: 1.5px solid #1F1F3D;
  border-right: 1.5px solid #1F1F3D;
  border-bottom: 1.5px solid #1F1F3D;
}

.card-comment {
  margin: 0px;
  color: #E9E9F3;
}

.comment-box {
  display: flex;
  flex-direction: column;
}

.comment-input {
  margin-bottom: 15px;
}

.delete-img,
.star-img,
.comment-img {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.save-button:hover {
  transition: .25s ease-in-out;
  transform: scale(1.1);
}

.star-img:hover {
  transform: rotate(360deg) scale(1.5);
}

.comment-img:hover {
  transform: rotate(180deg) scale(1.5);
}

.delete-img:hover {
  transform: rotate(90deg) scale(1.5);
}
